<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resume</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./fonts/style.css">
</head>

<body>
    <div id="app" v-if="loaded">
        <header>
            <div class="text">
                <h1>{{resume.basics.name}}</h1>
                <div class="contact1">
                    <!-- Email -->
                    <p>
                        <a :href="'mailto:'+resume.basics.email">
                            <i class="fas fa-envelope"></i> {{resume.basics.email}}
                        </a>
                    </p>
                    <!-- Website -->
                    <p>
                        <a :href="resume.basics.website">
                            <i class="fas fa-globe-europe"></i> {{resume.basics.website | link}}
                        </a>
                    </p>
                </div>
                <div class="contact2">
                    <!-- Phone -->
                    <p>
                        <a :href="'tel:'+resume.basics.phone">
                            <i class="fas fa-phone"></i> {{resume.basics.phone | phone}}
                        </a>
                    </p>
                    <!-- Location -->
                    <p>
                        <i class="fas fa-map-marker-alt"></i> {{resume.basics.region}}
                    </p>
                </div>
            </div>
            <div class="picture" @click="editMode">
                <img width="100" :src="resume.basics.picture" :alt="resume.basics.name">
            </div>
        </header>

        <h3><span>Experience</span></h3>
        <div class="item" v-for="item in resume.work">
            <p class="headline">
                <strong class="cm">{{item.position}}</strong>
                <span class="sep cm">{{item.company}}</span>
                <small class="location sep">{{item.location}}</small>
            </p>
            <p class="color-light summary">
                <small>
                    <ul>
                        <li class="bullet" v-for="summary in item.summary">{{summary}}</li>
                    </ul>
                </small>
            </p>
            <div class="date">
                <span>{{item.start.month}}.{{item.start.year}}</span> -
                <span v-if="!item.isCurrentRole">{{item.end.month}}.{{item.end.year}}</span>
                <span v-if="item.isCurrentRole">Present</span>
            </div>
        </div>

        <h3><span>Education</span></h3>
        <div class="item" v-for="item in resume.education">
            <p class="headline">
                <strong class="cm">{{item.studyType}}</strong>
                <span class="sep cm">{{item.institution}}</span>
                <small class="location sep">{{item.activities}}</small>
            </p>
            <p class="color-light">
                <small>{{item.area}}<span class="sep">{{item.description}}</span></small>
            </p>
            <div class="date">
                <span>{{item.start.year}} </span> -
                <span v-if="item.end.year !== null">{{item.end.year}}</span>
                <span v-if="item.end.year === null">Present</span>
            </div>
        </div>

        <h3><span>Honors and Awards</span></h3>
        <div class="item" v-for="item in resume.awards">
            <p class="headline">
                <strong class="cm">{{item.title}}</strong>
                <span class="sep">{{item.awarder}}</span>
                <small class="location sep">{{item.location}}</small>
            </p>
            <p class="color-light"><small v-html="$options.filters.sup(item.summary)"></small></p>
            <div class="date">
                <span>{{item.fullDate.month}}.{{item.fullDate.year}}</span>
            </div>
        </div>

        <h3><span>Volunteer</span></h3>
        <div class="item" v-for="item in resume.volunteer">
            <p class="headline">
                <strong class="cm">{{item.position}}</strong>
                <span class="sep">{{item.organization}}</span>
            </p>
            <p class="color-light summary limited"><small>{{item.summary}}</small></p>

            <div class="date">
                <span>{{item.start.month}}.{{item.start.year}}</span> -
                <span v-if="!item.isCurrentRole">{{item.end.month}}.{{item.end.year}}</span>
                <span v-if="item.isCurrentRole">Present</span>
            </div>
        </div>

        <h3><span>Skills And Familiarities</span></h3>
        <div class="skills">
            <div class="item" v-for="(item, index) in resume.skills">
                <p>
                    <strong>{{index}}</strong>
                    <span v-for="(subitem, isubitem) in item">
                        <span class="subitem">{{subitem.name}}</span><span v-if="!subitem.items && isubitem < Object.keys(item).length - 1">, </span>
                    <span class="color-light" v-if="subitem.items">
                            (<small v-for="(subsubitem, isubsubitem) in subitem.items">{{subsubitem}}<span
                                    v-if="isubsubitem < Object.keys(subitem.items).length - 1">, </span></small>)
                    </span>
                    </span>
                </p>
            </div>
        </div>

        <h3><span>Languages</span></h3>
        <div class="languages">
            <div class="item" v-for="item in resume.languages">
                <p>
                    <strong>{{item.name}}</strong>
                    <span class="sep">{{item.level}}</span>
                    <small v-if="item.course" class="color-light">({{item.course}})</small>
                </p>
            </div>
        </div>
        <!-- <pre> {{resume | json}}</pre> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="./script.js"></script>
</body>

</html>